@model Product

@section css{
    <link rel="stylesheet" href="~/css/updateProduct.css" asp-append-version="true" />
}
<body id="body" style="background-image: url(/images/update.jpg)">

    <h2>Update @Model.Name</h2>

    @using (Html.BeginForm("UpdateProductToDatabase", "Product", "Post"))
    {
        <input asp-for="ProductID" type="hidden" value="@Model.ProductID" />

        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" name="Name" class="form-control" value="@Model.Name" />

        <br>

        <label asp-for="Price" class="control-label">Price</label>
        <input type="number" step="0.01" name="Price" class="form-control" value="@Model.Price" />

        <br>

        <label asp-for="Description" class="control-label">Descrption</label>
        <input type="text" name="Description" class="form-control" value="@Model.Description" />

        <br>
        <br>

        <input type="submit" value="Update Product" class="btn btn-info" />
    }
</body>